#pullout {
  /*white-space: pre;*/
  position: absolute;
  /*top: 10px;*/
  top: 80px;
  /*left: -260px;*/
  left: 0px;
  width: 296px;
  height: 650px;
  background: #ffffff;
  transition: all 0.5s ease;
}

#pullout.active {
  /*left: 0px;*/
  left: -260px;

}

#pullout-inner {
  position: absolute;
  top: 0;
  left: 10px;
  width: 240px;
  height: 650px;
}

#pullout-form {
  width: 240px;
  height: 650px;
}

#pullout-tab {
  position: absolute;
  top: 10;
  right: 0;
  width: 36px;
  height: 650px;
  background: #2f46a3;
  /*background: #ffffff;*/
  cursor: pointer;
}

#pullout .pullout-planet {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  font-size: 16px;
  color:#333333;
  left: 10px;
}

.pullout-info {
  color:#333333;
  font-size: 14px;  
  text-align:left;  
  overflow:hidden;
  margin-bottom: 2px;
}

.pullout-caret {
  position: absolute;
  top: 270px;
  left: 248px;
  right: 0;
  width: 36px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;  
}
/*
#pullout .pullout-year{
  color:#666;
  font-size: 11px;   
  text-align:center; 
  margin-bottom: 6px;  
  font-style:italic;
}
#pullout .pullout-class {
  color:#333333;
  text-align: left;
  font-size: 13px;
  text-align:center;  
  margin-bottom: 4px;
}
*/

